<main class="dark:bg-[#252525]">
  <div class="mx-20 relative flex pt-10 flex-col min-h-screen items-center">
    <h1 class="text-2xl dark:text-white font-semibold text-center mb-[18px]">To-Do List</h1>
    <div class="w-full flex gap-4 max-h-[38px]">
        <div class="flex w-full justify-between py-3 items-center border-[#C3C1E5] border-2 px-4 rounded-[5px]">
          <input type="text" placeholder="Search note..." class="outline-none h-4 dark:placeholder:text-white">
          <img src="assets/icons/search-icon.svg" width="21" height="21" alt="search-icon">
        </div>
        <button class="bg-[#6C63FF] text-white px-[10px] font-semibold py-2 rounded-[5px] gap-5 flex items-center">ALL <img src="assets/icons/chevron-down-white.svg" width="16" height="12" alt="arrow-down-icon"></button>
        <button class="bg-[#6C63FF] text-white px-[10px] py-2 rounded-[5px] flex items-center" (click)="toggleTheme()">
            @if (darkMode()) {
                <img src="assets/icons/sun-white-icon.svg" width="16" height="12" alt="sun-icon">
            } @else {
                <img src="assets/icons/moon-white-icon.svg" width="16" height="12" alt="moon-icon">
            }
        </button>
    </div>
  
    @if (toDoList().length === 0) {
      <div class="w-full flex justify-center flex-col items-center flex-1">
          <img src="assets/images/detective.svg" class="w-[221px] dark:hidden h-auto" alt="detective-icon">
          <img src="assets/images/detective-dark.svg" class="w-[221px] hidden dark:block h-auto" alt="detective-icon">
          <p class="text-2xl dark:text-white font-semibold">Empty</p>
      </div>
    }
    <button class="bg-[#6C63FF] absolute right-0 bottom-5 text-white w-[50px] h-[50px] rounded-full p-[13px] flex items-center"><img src="assets/icons/plus-icon-white.svg" width="24" height="24" alt="plus-icon"></button>
  </div>
</main>